<template>
 <div class="form-group ">
        <label class="">{{label}}</label>
        <multi-select :class="styleCss" @input="tracker" 
            v-model="inti" :show-labels="false"
            open-direction="bottom" :close-on-select="true" placeholder="Filtre par secteur"
            :options="_formes_juridique"   label="libelle" track-by="id">

                <span slot="noOptions">
                    {{noOptionsMessage}}
                </span>
                <span slot="noResult">{{noResultMessage}}</span>
        </multi-select>
    </div>
</template>
<script>
 import Swal from 'sweetalert2'

    export default {
        props : 
        {
            label:{
                type:String,
                default:'Label par défaut'
            },
            styleCss:{
                type:String,
                default:''
            },
            noOptionsMessage:
            {
               type:String,
                default:"La liste est vide" 
            },
            noResultMessage:
            {
               type:String,
                default:"Aucun élément trouvé" 
            },
        },
        data()
        {
            return{
                body : "",
                periodTime: 1500,
                show : false,
                alert_type : "primary"
            }
        },
        computed:
         {
            alertType()
            {
               return "alert-"+this.alert_type
            }
        },
        mounted() {

            if(this.message)
            {
                this.flash(this.message,this.type == undefined ? "primary" : this.type)

            }

            window.event.$on("flash",(message) =>
            {
                if(message.type)
                {
                     
                    this.flash(message.message,message.type)
                }
                else
                this.flash(message.message)
            });

           
        },
        methods:
        {

            tracker(e)
            {
               this.$emit('input',e)
            }
            
        }
    }
</script>