<template>
<div>
    <div class="row">
         <div class="col-m-12 mb-2 d-flex flex-row-reverse ">
               <select class="form-control w-100" name="" id="" v-model="annee" @change="financeReport">
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
               </select>
         </div>
    </div>
    <div class="row">
            
            <div class="col-lg-4 col-md-4 ">
                  <div class="info-box">
                      <span class="info-box-icon bg-info elevation-1"><i class="las la-angle-double-up"></i></span>

                      <div class="info-box-content">
                          <span class="info-box-text">Entrées</span>
                          <span class="info-box-number">
                                {{ rapport_annuel.entrees | monnaie }}
                                <small> F cfa </small>
                              </span>
                      </div>
                      <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
            </div>
            <div class="col-lg-4 col-md-4 ">
                  <div class="info-box">
                      <span class="info-box-icon bg-danger elevation-1"><i class="las la-angle-double-down"></i></span>

                      <div class="info-box-content">
                          <span class="info-box-text">Dépenses</span>
                          <span class="info-box-number">
                                {{ rapport_annuel.depenses | monnaie }}
                                <small>F cfa</small>
                              </span>
                      </div>
                      <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
            </div>
            <div class="col-lg-4 col-md-4 ">
                  <div class="info-box">
                      <span class="info-box-icon bg-success elevation-1"><i class="las la-piggy-bank"></i></span>

                      <div class="info-box-content">
                          <span class="info-box-text">Bénéfice</span>
                          <span class="info-box-number">
                                {{ rapport_annuel.benefice | monnaie  }}
                                <small>F cfa</small>
                              </span>
                      </div>
                      <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
            </div>
    </div>
    <div class="row">
        <div >
          <line-chart :chart-data="dataCollection" :options="options"></line-chart>
        </div>  
    </div>
</div>
</template>
<script>
   import Form from "./../classes/Form"
   import  LineChart from "./charts/LineChart"
    export default {
        props: ['entity'],       
         data() {
            return{
                vehicule:"",
                loaded:false,
                options: {
                  responsive: true,
                  maintainAspectRatio: false
                },
                dataCollection:{labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                
                datasets: [
                  {
                    label: 'Data One',
                    backgroundColor: '#f87979',
                    data: [1,2,4,5,5,6,1,2,4,5,5,6]
                  }, 
                  {
                    label: 'Data One',
                    backgroundColor: '#f87979',
                    data: [1,2,4,5,5,6,1,2,4,5,5,6]
                  }
                ]},
                mois:moment.monthsShort(),
                rapport_annuel:
                {
                  entrees :0,
                  depenses:0,
                  benefices:0,
                },
                annee:moment().year(),
                form : new Form(
                  {
                    annee:moment().year(),
                    vehicule_id:""
                  }
                  )
            }
            
        },
        created()
        {

        },
        mounted() 
        {
          this.vehicule = this.entity
          this.form.vehicule_id = this.entity.id
          this.financeReport()

        },
       methods:
       {

            fetchOptions()
             {
               axios.get("/api/dispatcher/options/vehicule-details").then((response) =>
                {
                      this.options.assureurs = response.data.assureurs
                      //envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
             },
             
              getRandomInt () {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5
              },
             financeReport(event)
             {
                if(event!=undefined && event!=null)
                this.form.annee =event.srcElement.value

                this.form.post("/api/finances/rapports/voiture/par-annee").then((response) =>
                {
                       this.rapport_annuel.entrees = response.total
                       this.rapport_annuel.depenses = response.depenses
                },
                (error) =>
                {
                  this.isLoading = false
                }); 
             },
            fillData() 
            {
              this.dataCollection = {
                labels: [this.getRandomInt(), this.getRandomInt()],
                datasets: [
                  {
                    label: 'Data One',
                    backgroundColor: '#f87979',
                    data: [this.getRandomInt(), this.getRandomInt()]
                  }, 
                  {
                    label: 'Data One',
                    backgroundColor: '#f87979',
                    data: [this.getRandomInt(), this.getRandomInt()]
                  }
                ]
              }
              this.loaded = true
            }

       },
       computed:
       {
         
       },
        components:
        {
          LineChart
	      }
    }
</script>
<style lang="scss" scoped>
  .info-box .info-box-icon {
    border-radius: 0.25rem;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-size: 3.875rem;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}
.info-box .progress-description, .info-box .info-box-text {
    font-weight: 600;
    font-size: 16px;
}

.info-box .info-box-number {
    display: block;
    font-weight: 800;
    font-size: 20px;
    padding-top: 10px;
}
  
</style>