    /*
    Flaticon icon font: Flaticon
    Creation date: 27/07/2016 08:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./flat-icon/Flaticon.eot");
  src: url("./flat-icon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flat-icon/Flaticon.woff") format("woff"),
       url("./flat-icon/Flaticon.ttf") format("truetype"),
       url("./flat-icon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flat-icon/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-air-conditioning:before { content: "\f100"; }
.flaticon-alloy-wheel:before { content: "\f101"; }
.flaticon-battery:before { content: "\f102"; }
.flaticon-car-repair:before { content: "\f103"; }
.flaticon-car-wash:before { content: "\f104"; }
.flaticon-diagnostic:before { content: "\f105"; }
.flaticon-disc-brake:before { content: "\f106"; }
.flaticon-electrical-service:before { content: "\f107"; }
.flaticon-engine:before { content: "\f108"; }
.flaticon-exhaust-pipe:before { content: "\f109"; }
.flaticon-gas-station:before { content: "\f10a"; }
.flaticon-gearstick:before { content: "\f10b"; }
.flaticon-ignition:before { content: "\f10c"; }
.flaticon-inspection:before { content: "\f10d"; }
.flaticon-key:before { content: "\f10e"; }
.flaticon-maintenance:before { content: "\f10f"; }
.flaticon-mechanic:before { content: "\f110"; }
.flaticon-oil:before { content: "\f111"; }
.flaticon-painting:before { content: "\f112"; }
.flaticon-piston:before { content: "\f113"; }
.flaticon-radiator:before { content: "\f114"; }
.flaticon-reparation:before { content: "\f115"; }
.flaticon-speedometer:before { content: "\f116"; }
.flaticon-steering-wheel:before { content: "\f117"; }
.flaticon-suspension:before { content: "\f118"; }
.flaticon-tire:before { content: "\f119"; }
.flaticon-tire-1:before { content: "\f11a"; }
.flaticon-trailer:before { content: "\f11b"; }
.flaticon-wheel-alignment:before { content: "\f11c"; }
.flaticon-windshield:before { content: "\f11d"; }
    
    $font-Flaticon-air-conditioning: "\f100";
    $font-Flaticon-alloy-wheel: "\f101";
    $font-Flaticon-battery: "\f102";
    $font-Flaticon-car-repair: "\f103";
    $font-Flaticon-car-wash: "\f104";
    $font-Flaticon-diagnostic: "\f105";
    $font-Flaticon-disc-brake: "\f106";
    $font-Flaticon-electrical-service: "\f107";
    $font-Flaticon-engine: "\f108";
    $font-Flaticon-exhaust-pipe: "\f109";
    $font-Flaticon-gas-station: "\f10a";
    $font-Flaticon-gearstick: "\f10b";
    $font-Flaticon-ignition: "\f10c";
    $font-Flaticon-inspection: "\f10d";
    $font-Flaticon-key: "\f10e";
    $font-Flaticon-maintenance: "\f10f";
    $font-Flaticon-mechanic: "\f110";
    $font-Flaticon-oil: "\f111";
    $font-Flaticon-painting: "\f112";
    $font-Flaticon-piston: "\f113";
    $font-Flaticon-radiator: "\f114";
    $font-Flaticon-reparation: "\f115";
    $font-Flaticon-speedometer: "\f116";
    $font-Flaticon-steering-wheel: "\f117";
    $font-Flaticon-suspension: "\f118";
    $font-Flaticon-tire: "\f119";
    $font-Flaticon-tire-1: "\f11a";
    $font-Flaticon-trailer: "\f11b";
    $font-Flaticon-wheel-alignment: "\f11c";
    $font-Flaticon-windshield: "\f11d";